<div class="grid grid-nogutter surface-section text-800" style="background-color: #21345b70 !important;">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <div style="text-align: center;">
                <div class="text-6xl text-primary font-bold mb-3">Інформаційна система технологічних подій</div>
                <p class="mt-0 mb-4 text-700 line-height-3">
                    <span>
                        Цей вебзастосунок, призначений для структурованого збору,
                        впорядкування та відстеження подій у сфері інформаційних технологій.
                        Платформа орієнтована на користувачів, які прагнуть отримувати
                        актуальні дані про конференції, семінари, виставки, воркшопи,
                        форуми, стартап-зустрічі та онлайн-вебінари.
                        <br><br>
                        Система забезпечує доступ до каталогу подій за тематичними напрямами,
                        підтримує механізми пошуку та фільтрації, а також дозволяє
                        користувачам підписуватися на конкретні заходи.
                        Крім того, реалізовано функцію автоматичних нагадувань,
                        що надсилаються заздалегідь, аби користувач не пропустив заплановану подію.
                        <br><br>
                        Застосунок створює єдиний цифровий простір для оптимізації взаємодії
                        між організаторами технологічних заходів та їх потенційними учасниками,
                        забезпечуючи своєчасний доступ до впорядкованої інформації.
                    </span>
                </p>
            </div>
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="../../../../assets/demo/images/home/Event Notifier.gif" class="md:ml-auto block md:h-full"
            style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
</div>