<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <p-toast></p-toast>
        <div
            style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">Відновлення паролю</div>
                    <span class="text-600 font-medium">На дану пошту буде надіслано лист з інструкцією для відновлення
                        паролю</span>
                </div>
                <form [formGroup]="emailConfirmationForm" (submit)="confirmEmail()">
                    <div>
                        <div class="form-group">
                            <label for="email1" class="block text-900 text-xl font-medium mb-2">Електронна пошта</label>
                            <input id="email1" type="text" placeholder="Email address" pInputText
                                class="w-full mb-5" style="padding:1rem" formControlName="email">
                            <div class="alert alert-danger error-message"
                                *ngIf="confirmEmailFormControl['email'].touched && confirmEmailFormControl['email'].errors?.['required']">
                                Це поле є обов'язковим
                            </div>
                        </div>
                    </div>
                    <button type="submit" pButton pRipple label="Надіслати" class="w-full p-3 text-xl"></button>
            </form>
        </div>
    </div>
</div>
</div>