<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <p-toast></p-toast>
        <div
            style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">Вітаємо!</div>
                    <span class="text-600 font-medium">Увійдіть, щоб продовжити</span>
                </div>
                <form [formGroup]="loginForm" (submit)="login()">
                    <div>
                        <div class="form-group">
                            <label for="email1" class="block text-900 text-xl font-medium mb-2">Електронна пошта</label>
                            <input id="email1" type="text" placeholder="Email address" pInputText
                                class="w-full md:w-30rem mb-5" style="padding:1rem" formControlName="email">
                            <div class="alert alert-danger error-message"
                                *ngIf="loginFormControl['email'].touched && loginFormControl['email'].errors?.['required']">
                                Це поле є обов'язковим
                            </div>
                        </div>
                        <p></p>
                        <div class="form-group">
                            <label for="password1" class="block text-900 font-medium text-xl mb-2">Пароль</label>
                            <p-password id="password1" placeholder="Password" [toggleMask]="true" [feedback]="false" styleClass="mb-5"
                                inputStyleClass="w-full p-3 md:w-30rem" formControlName="password"></p-password>
                            <div class="alert alert-danger error-message"
                                *ngIf="loginFormControl['password'].touched && loginFormControl['password'].errors?.['required']">
                                Це поле є обов'язковим
                            </div>
                        </div>
                    </div>
                    <div class="flex align-items-center justify-content-between mb-5 gap-5">
                        <div class="font-medium no-underline ml-2 text-right cursor-pointer">
                        <span>Немає аканута?</span>
                        <a 
                            style="color: var(--primary-color)" [replaceUrl]="true"
                            [routerLink]="['/auth/register']"> Зареєструйтесь</a>
                        </div>
                    </div>
                    <div>
                        <button type="submit" pButton pRipple label="Увійти" class="w-full p-3 text-xl"></button>
                    </div>
                    <div class="font-medium no-underline ml-2 text-center cursor-pointer mt-3">
                        <a style="color: var(--primary-color)" [replaceUrl]="true" [routerLink]="['/auth/email-confirmation']">Забули пароль?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>